/*---------------------------------Body---------------------------------*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    background-image:url(../img/background.png);
    margin:0 auto;
    
}
body h1{
    font-size:2em;
}
body h2{
    font-size:1.7em;
}
body h3{
    font-size:1.5em;
}
/*---------------------------------content---------------------------------*/
#content{
max-height:100%;

    
}

/*---------------------------------bottom userbar---------------------------------*/
footer {
	position: fixed;
	height: 40px;;
	width: 100%;
	bottom: 0px;
	background-color:#FF2B06;
}
footer>p{
    display:inline;
}
/*login form alignment*/
#login {
	float:right;
}
#options{
    float:left;
}
/*---------------------------------homepage---------------------------------*/

/*main event*/
#nextevent{
height:auto;
    
    
}
#nextevent ul{
    margin-left:0px;
}
#nextevent img{
    padding-top:50px;
    padding-left:10px;
}
/*---------------------------------General Content---------------------------------*/
/*no decoration on the lists*/
ul li{
    list-style: none;
}

/*section elements take full page width*/
section
{
    width:100%
}

/*article margins*/
article{
   
}

/*video list*/
#videos_title{
    
}
#videos{
    background-color:#f0f0f0;
    text-align:center;
}
#videos img{
    margin-top:35px;
    margin-bottom:35px;  
}
/*---------------------------------Media---------------------------------*/
#videos_media{
    text-align:center;
}

/*---------------------------------Tuiles---------------------------------*/
#tuile h3{
    background-color:#333333;
    min-width:200px;
    text-align:center;
    height: 150px;
    margin-top:70px;
    vertical-align:middle;
    
    color:#e5e5e5;
}
#tuile h3:hover{
    background-color:#626262;
    color:#e5e5e5;
    text-decoration:none;
    line-height:150px;
    text-align:center;
}
#tuile a{
}
/*---------------------------------Social Content---------------------------------*/
#socialnet{
    /*height:135px;*/
    margin-top:20px;
    margin-bottom:50px;
    text-align:center;
    
}
#socialnet ul{

}
#socialnet li{
    /*height:135px;
    line-height:135px;*/
    
}
#socialnet li a img{
    width:50px;
    height:50px;
}