/*---------------------------------Body---------------------------------*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    background-color:#333333;
    color: #e5e5e5;
    margin:0 auto;
    
}

a:active{
    outline:none;
}
a:focus{
    outline:none;
}

body h1{
    font-size:2em;
    color: #ffffff;
}

body h2{
    font-size:1.7em;
    color: #e5e5e5; 
}

body h3{
    font-size:1.5em;
}

a {
text-decoration:none;
color:#ff2b06;
}

a:hover {
text-decoration:none;
color:#e5e5e5;
}

/*---------------------------------General content---------------------------------*/
#content{
max-height:100%;
}

.lastElement{
margin-bottom:80px;
}

.firstElement{
    margin-top:60px;
}


/*no decoration on the lists*/
ul li{
    list-style: none;
}
ol li{
    list-style:none;
}

.line {
    padding: 5px 10px;
}

.greyline {
    background-color: #7c7c7c;
    padding: 5px 10px;
}

/*section elements take full page width*/
section
{
    width:100%;
    margin-bottom:40px;
}
/*span*/
section .span8{
    background-color:#626262;
    padding:10px;
    margin-right:10px;
}

section.menu article.span8{
    background-color: #333333;
    padding:10px;
    margin-right:10px;
    margin-top:60px;
}

section .span5{
    background-color:#626262;
    padding:10px;
    margin-right:10px;
}

section .span3{
    background-color:#626262;
    padding:10px;
}

/*button*/

a.modify {
    float:right;
    margin-left:20px;
    background-image:url(../img/modify.png);
    background-repeat:no-repeat;
    height: 20px;
    width: 20px;
}

a.modify:hover {
    float:right;
    margin-left:20px;
    height: 20px;
    width: 20px;
    background-image:url(../img/modify_hover.png);
    background-repeat:no-repeat;
}

a.delete {
    float:right;
    margin-left:20px;
    background-image:url(../img/delete.png);
    background-repeat:no-repeat;
    height: 20px;
    width: 20px;
}

a.delete:hover {
    float:right;
    margin-left:20px;
    height: 20px;
    width: 20px;
    background-image:url(../img/delete_hover.png);
    background-repeat:no-repeat;
}
    
a.add {
    float:right;
    margin-left:20px;
    background-image:url(../img/add.png);
    background-repeat:no-repeat;
    height: 20px;
    width: 20px;
}

a.add:hover {
    float:right;
    margin-left:20px;
    height: 20px;
    width: 20px;
    background-image:url(../img/add_hover.png);
    background-repeat:no-repeat;
}
/* input */
input[type=submit].modify {
    background-image:url(../img/modify.png);
    background-repeat:no-repeat;
    height: 20px;
    width: 20px;
    padding:0;
    background-color: transparent;
    min-width:20px;
}


input[type=submit].modify:hover {
    height: 20px;
    width: 20px;
    padding:0;
    background-color: transparent;
    min-width:20px;
    background-image:url(../img/modify_hover.png);
    background-repeat:no-repeat;
}

input[type=submit].delete {
    height: 20px;
    width: 20px;
    padding:0;
    background-color: transparent;
    min-width:20px;
    background-image:url(../img/delete.png);
    background-repeat:no-repeat;

}

input[type=submit].delete:hover {
    height: 20px;
    width: 20px;
    padding:0;
    background-color: transparent;
    min-width:20px;
    background-image:url(../img/delete_hover.png);
    background-repeat:no-repeat;
}
    
input[type=submit].add {
    height: 20px;
    width: 20px;
    padding:0;
    background-color: transparent;
    min-width:20px;
    background-image:url(../img/add.png);
    background-repeat:no-repeat;
}

input[type=submit].add2 {
    height: 20px;
    width: 100px;
    padding:0;
    color: #ffffff;
    line-height:20px;
    background-color: transparent;
    min-width:100px;
    background-image:url(../img/add.png);
    background-repeat:no-repeat;
    float:right;
}

input[type=submit].add:hover {
    height: 20px;
    width: 20px;
    padding:0;
    background-color: transparent;
    min-width:20px;
    background-image:url(../img/add_hover.png);
    background-repeat:no-repeat;
}

input[type=submit].add2:hover {
    height: 20px;
    width: 100px;
    padding:0;
    color: #000000;
    background-color: transparent;
    min-width:100px;
    background-image:url(../img/add_hover.png);
    background-repeat:no-repeat;
}

/*______________________fil d'ariane--------------------------------------*/

#ariane{
    height:50px;
    padding-top:10px;
    background-color:#ffffff;    
}


#ariane li{
    display:inline;
    margin-left:5px;
}
/* links styling*/
#ariane li a{
    text-decoration:none;
    font-size: 1.4em;
    text-transform :uppercase;
    color:#333333;
    line-height:40px;
    height:50px;
    padding-bottom:21px;
}

/*top menu links interaction*/
/*menu logo alignment*/
#header_tedx_logo{

}

/*---------------------------------bottom userbar---------------------------------*/
footer {
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0px;
	background-color:#FF2B06;    
}
footer>p{
    display:inline;
}
/*login form alignment*/
footer form{
    padding-top:7px;
    /*padding-left:10px;*/
    text-align:right;
}
#login {
    /*margin-left:5px;*/
	text-align:center;
    width:15%;
    height:22px;
}
#logout {
	text-align:right;
    line-height:40px;
    font-weight:bold;
}
#form_log{
    width:40%;
    padding-left:5px;
}
#logged{
    text-decoration:none;
    /*font-size: 1.2em;*/
    text-transform :uppercase;
    color:#ffffff;    
    height:50px;
}
#logged a{
    text-decoration:none; 
    text-transform :uppercase;
    color:#ffffff;
}

a#setting {
    width:30px;
    height:30px;
    background-image:url(../img/setting.png);
    background-repeat:no-repeat;
    margin-top:5px;

}

a#setting:hover{
    width:30px;
    height:30px;
    margin-top:5px;

    background-image:url(../img/setting_hover.png);
}

a#home_icon {
    width:30px;
    height:30px;
    background-image:url(../img/home.png);
    background-repeat:no-repeat;
    margin-top:5px;
}

a#home_icon:hover{
    width:30px;
    height:30px;
    margin-top:5px;
    background-image:url(../img/home_over.png);
}

#logged a:hover{
    color:#333333;
}
#logged .message{
    text-align:center;
}
/*---------------------------------homepage---------------------------------*/
h3.menu_administrator {
    width:18.25%;
    background-color:#626262;
    text-align:center;
    height: 150px;
    color:#e5e5e5;
    display:block;
    float: left;
    line-height:150px;
    margin-right:10px;
    min-width:60px;
}

h3.menu_organizer {
    width:48%;
    background-color:#626262;
    text-align:center;
    height: 150px;
    color:#e5e5e5;
    display:block;
    float: left;
    line-height:150px;
    margin-right:10px;
    min-width:60px;
}

h3.menu_validator {
    width:32%;
    background-color:#626262;
    text-align:center;
    height: 150px;
    color:#e5e5e5;
    display:block;
    float: left;
    line-height:150px;
    margin-right:10px;
    min-width:60px;
}

.menu h3:hover{
    background-color:#e5e5e5;
    color:#626262;
    text-decoration:none;
}

.menu h3 a:hover{
    text-decoration:none;
}

/*---------------------------------Formular and buttons---------------------------------*/



input{
    border-radius:3px;
    background-color:#e5e5e5;
    border:1px;
    border-color:#ffffff;
    height:20px;
    margin: 5px;
    padding-left: 2px;
    min-width:150px;
 }

label {
    height: 20px;
    margin:5px;
    min-width:160px;
}

textarea {
    border-radius:3px;
    background-color:#e5e5e5;
    border:1px;
    border-color:#ffffff;
    height:150px;
    width:97%;
    margin: 5px;
    padding-left: 2px;
    
}

textarea.desc {
    width:100%;
}


input[type=submit], .button {
    margin-top:13px;
    margin-bottom:13px;
    color:#e5e5e5;
    background-color:#333333;
    border:1px;
    border-color:#ffffff;
    height:34px;
    line-height:34px;
    text-align:center;
    width:130px;
    display:inline-block;
}

input[type=submit], div.button a {
    display:block;
    text-decoration:none;
    color:#e5e5e5;
    width:130px;
    height:34px;
    font-weight:bold;
}

input[type=submit]:hover, .button:hover{
    color:#e5e5e5;
    background-color: #4e4e4e;
    border:1px;
    border-color:#ffffff;
    width:130px;
    height:34px;
}

section .goodMessage{
    text-align:center;
    padding:10px;
    padding-bottom:0px;
    background-color:#E7FFE0;
    border:1px solid #75FF72;
}
.goodMessage p{
    color:black;
}
section .badMessage{
    text-align:center;
    padding:10px;
    padding-bottom:0px;
    background-color:#FFD3D3;
    border:1px solid #FF786B;
    margin-bottom:20px;
}
.badMessage p{
    color:black;
}

#buttonPlus{
    width:26px;
    padding: 0 5px;
    margin:0;
    margin-left:10px;
}
#buttonPlus a{
    width:20px;
}

#addEvent label, #addEvent input, #addEvent textarea{
    margin:0;
    padding:0;
    margin-top:5px;
}
#addEvent input[type="submit"]{
    width:100%;
    margin-top:30px;
}
div article.slot{
    background-color:#7c7c7c;
    margin:10px 0;
    padding:10px;
    height:160px;
}
article.slot article  h1, #addEvent div  h2{
    line-height: 20px;
    margin:5px;
    margin-left:0px;
}
/*------------------------table--------------------------*/
 .zebra{
    background-color:#f0f0f0;
    border-top:1px solid #c9c9c9;
    }
.table_title{
    height:30px;
    font-weight:bold;
    
    }
td.title{
    width: auto;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:5px;
}
td.date{
    font-weight:bold;
    width:65px;
}
/*th {
    width:50%;
}*/