/*---------------------------------Body---------------------------------*/ 
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:12px;
    background-image:url(../img/background.png);
    margin:0 auto;
    
}
a:active{
    outline:none;
}
a:focus{
    outline:none;
}
body h1{
    font-size:2em;
    color:#ff2b06;
    font-weight:bold;
}
body h2{
    font-size:1.7em;
    color:#333333;
}
body h3{
    font-size:1.5em;
}

body h4 {
    font-size:1.2em;
    color:black;
    margin-top:0;
    font-style:italic;
}
/*---------------------------------content---------------------------------*/
#content{
    max-height:100%;
}
section.lastElement{
margin-bottom:80px;
}

/*---------------------------------bottom userbar---------------------------------*/
footer {
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0px;
	background-color:#FF2B06;
}
footer>p{
    display:inline;
}
/*login form alignment*/
footer form{
    padding-top:7px;
    /*padding-left:10px;*/
    text-align:right;
}
#login {
    /*margin-left:5px;*/
	text-align:center;
    width:10%;
    height:22px;
}
#logout {
	text-align:right;
    line-height:40px;
    font-weight:bold;
}
#form_log{
    width:40%;
    padding-left:5px;
}
#logged{
    text-decoration:none;
    /*font-size: 1.2em;*/
    text-transform :uppercase;
    color:#ffffff;    
    height:50px;
}
#logged a{
    text-decoration:none; 
    text-transform :uppercase;
    color:#ffffff;
}
#logged a:hover{
    color:#333333;
}
a#setting {
    width:30px;
    height:30px;
    background-image:url(../img/setting.png);
    background-repeat:no-repeat;
     margin-top:5px;

}

a#setting:hover{
    width:30px;
    height:30px;
    margin-top:5px;

    background-image:url(../img/setting_hover.png);
}

a#home_icon {
    width:30px;
    height:30px;
    background-image:url(../img/home.png);
    background-repeat:no-repeat;
     margin-top:5px;
}

a#home_icon:hover{
    width:30px;
    height:30px;
    margin-top:5px;
    background-image:url(../img/home_over.png);
}
#logged .message{
    text-align:center;
}
/*---------------------------------homepage---------------------------------*/

/*main event*/
#nextevent{
height:auto;    
}
#nextevent p{
    padding-right:10px;
}
#nextevent ul{
    margin-left:0px;
}
#nextevent img{
    
    padding-left:0px;
}
#tedxDisclaimer p{
    line-height: 50px;
    background-color:#f0f0f0;
    text-align:center;
    margin-bottom: 50px;
}
#video_home_header{
    text-align: left;

    margin-top:35px;
}
#nextevent .span2,#nextevent .span6{
 background-color:transparent;
}
/*---------------------------------General Content---------------------------------*/
/*no decoration on the lists*/
ul li{
    list-style: none;
}

/*section elements take full page width*/
section
{
    width:100%;
    margin-bottom:40px;
}

/*article margins*/
article{
   
}

/*---------------------------------Media---------------------------------*/
#videos{
    background-color:#f0f0f0;
}
#videos img{
    margin-top:35px;
    margin-bottom:35px;  
}

#videos_media{
    text-align:center;
}

/*---------------------------------Social Content---------------------------------*/
#socialnet{
    /*height:135px;*/
    margin-bottom:40px;
    text-align:center;
    
}

#socialnet li a img{
    width:90px;
    height:90px;
    
}
#socialnet li a:hover img{
    
    background-color:#ffffff;
}
/*---------------------------------Formular and buttons---------------------------------*/
input[type=password], input[type=text], input[type=date], input[type=email] , input[type=tel]{
    border-radius:3px;
    background-color:#ffffff;
    border:1px;
    border-color:#ffffff;
    height:20px;
 }
input[type=submit], .button {
    margin-top:13px;
    margin-bottom:13px;
    color:#e5e5e5;
    background-color:#333333;
    border:1px;
    border-color:#ffffff;
    width:130px;
    height:34px;
    line-height:34px;
    text-align:center;
}

input[type=submit], div.button a {
    display:block;
    text-decoration:none;
    color:#e5e5e5;
    width:130px;
    height:34px;
    font-weight:bold;
}

input[type=submit]:hover, .button:hover{
    color:#e5e5e5;
    background-color:#626262;
    border:1px;
    border-color:#ffffff;
    width:130px;
    height:34px;
}
input .form_closed{
}
input .big{
}
.motivation{
height:100%;
}
textarea{
    width:100%;
    height:100%;
    resize:none;
}

div.button_back{
    background-image:url(../img/back.png);
    background-repeat:no-repeat;
    color: #E5E5E5;
    height: 35px;
    line-height: 35px;
    margin-bottom: 13px;
    margin-top: 13px;
    text-align: center;
    width: 130px;
    font-weight: bold;
}
.button_back a{
    color: #E5E5E5;
    display: block;
    font-weight: bold;
    height: 35px;
    text-decoration: none;
    width: 130px;
    
}
.button_back:hover{
    color:#e5e5e5;    
    width:130px;
    height:35px;
    background-image:url(../img/back_hover.png);
    background-repeat:no-repeat;
   
}

/*---------------------------------Tuiles---------------------------------*/
.tuile about {height:150px; width: 40%;;}

.tuile h3{
    background-color:#f0f0f0;
    min-width:200px;
    text-align:center;
    height: 150px;
    margin-top:5px;
    margin-bottom: 5px;
    color:#333333;
    padding:60px 5px 0 5px;
    margin-right:10px;
}

.tuile h3.twoLines {
    padding-top: 45px;
}


.tuile h3.bottom {
    margin-bottom: 60px;
}


.tuile h3:hover{
    background-color:#626262;
    color:#e5e5e5;
    text-decoration:none;
}

section.space {
    margin-top: 400px;
}
.tuile {margin-top:40px;}
/*-----------------------------------page event---------------------------------*/

.firstElement{
    margin-top:60px;
}

#actualParticipateButton{
    float:right;
    width:200px;
    height:50px;
    margin:0;
}
#actualParticipateButton a{
    width:200px;
    line-height:50px;
    height: 50px;
}

.actualEventAdress{
    float:right;
    margin-right:19px;
    text-align:right;
    margin:0;
}

#current_event .button{
    float:right;
    
    width:200px;
    height:50px;
}
#current_event .button a{
    width:200px;
    line-height:50px;
    height: 50px;
}

ol li{
    list-style:none;
}

section .span8, section .span6, section .span2{
    background-color:#f0f0f0;
    padding:10px;  
    margin-top: 0;
}

.slot_event{
    max-width:150px;
    float:left;
}
.slot_event h3{
    line-height:15px;
    margin:0;
}
.slot_event ol{
    margin-left:10px;
}
.slot_event p{
    margin-left:10px;
}

.box p {
    margin-bottom:5px;
}

article a {
text-decoration:none;
color:#ff2b06;
}

article a:hover {
text-decoration:none;
color:#333333;
}

#upcomingEvents {
    background-color:#f0f0f0;
    padding:10px 10px 10px 10px;
    margin-right:1.5%;
    width:31.83333333%;
}

#upcomingEvents a{
    text-decoration:none;
    color:#ff2b06;
}

#upcomingEvents a:hover {
    text-decoration:none;
    color:#333333;
}

#oldEvents {
    background-color:#f0f0f0;
    padding:10px 10px 10px 10px;
    margin-left:1.5%;
    width:31.83333333%;
}

#oldEvents a {
    text-decoration:none;
    color:#ff2b06;
}
#oldEvents a:hover {
    text-decoration:none;
    color:#333333;
}

.goodMessage{
    padding:10px 10px 10px 10px;
    margin-right:10px;
    background-color:#E7FFE0;
    border:1px solid #75FF72;


}
.goodMessage h1{
    color:black;
}
.keywords{
    height:100%;
}

            /*------------------------table--------------------------*/
 .zebra{
    background-color:#f0f0f0;
    border-top:1px solid #c9c9c9;
    }
.table_title{
    height:30px;
    font-weight:bold;
    
    }
td.title{
    width: auto;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:5px;
}
td.date{
    font-weight:bold;
    width:65px;
}
/*--------------------------------- pages about ---------------------------------*/
#about{
    margin:3%;
    max-width:94%;
}

#about a {
    color: #ff2b06;}


#about h1 {
    color: #ff2b06;
    font-weight:bold;
    }
/*--------------------------------- pages team ---------------------------------*/
#team{
    margin-top:5%;

}

#team a {
    color: #ff2b06;}


#team h1 {
    color: #ff2b06;
    font-weight:bold;
    }
/*--------------------------------- 404 ---------------------------------*/

.error h1 {
    font-size:8em;
    color:#333333;
    font-weight:bold;
    text-transform :uppercase;
}

.x {
    color: #ff2b06;
    margin-left:20px;
    margin-right:20px;
}
 .error a {
    text-decoration:none;
    color:#ff2b06;
    font-size: 1.2em;
    font-weight: bold;
}

 .error a:hover{
    text-decoration:none;
    color:#ff2b06;
    font-size: 1.2em;
    font-weight:bold;
}




/*------------------@media smartphone-----------------*/