body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333333;
  background-color: red;
}
nav{
    background-color:#ffffff;
}
footer {
	position: fixed;
	height: auto;
	width: 100%;
	bottom: 0px;
	background-color:#FF2B06;
	
}
footer>p {
    display:inline;
}
#options{
	background-color:#30C;
	float:left;
}
#login {
	float:right;
	background-color:#0C9;
}
#home {
	padding-bottom:30px;
    
}
#home #nextevent, #videos, #socialnet
{
	float:left;
}
#home #videos ul .video_home
{
	float:left;
}
#home #nextevent article ul li
{
	float:left;
    
}


#team, #about {
    width:90%;
    margin:0 auto;
}