/*---------------------------------Top menu---------------------------------*/
#menu_smartphone {
    display:none;
}

nav{
    height:55px;
    line-height: 40px;
    background-color:#ffffff;    
}

/*Top menu links*/
nav ul li{
    width:100%;
    text-align: center;
}
/* links styling*/
nav ul li a{
    text-decoration:none;
    font-size: 1.4em;
    text-transform :uppercase;
    color:#333333;
    line-height:45px;
    height:50px;
    display:block;
    padding-top:5px;
    outline:none;
}
nav a img{
    padding-top:5px;
    margin-left:0px;
    max-height:50px;
}

/*top menu links interaction*/
nav ul li a:hover{
    text-decoration: none;
    color:#333333;
    background-image:url(../img/menu.png);
    background-repeat:no-repeat;
    background-position:bottom center;
}
.menu_backend a:hover{
    text-decoration: none;
    color:#333333;
    background-image:url(../img/menu_backend.png);
    background-repeat:no-repeat;
    background-position:bottom center;
}
nav a:active{
    text-decoration:none;
    color:#333333;
    outline:none;
}
nav a:focus{
    text-decoration:none;
    color:#333333;
    outline:none;
}
/* Display of the active page */
#active{
    background-image:url(../img/menu.png);
    background-repeat:no-repeat;
    background-position:bottom center;
}
/*------------------@media smartphone and tablet-----------------*/

@media screen and (max-width: 850px) { 
    /* hide desktop menu */
    #menu_desktop {
    display:none;
    }
    
    nav#menu_desktop {
    display:none;
    }
    
    #menu_desktop ul li{
    display:none;
    }
    
    #menu_desktop ul li a{
    display:none;
    }
    #menu_desktop div{
    display:none;
    }
    /* show smartphone menu */
    #menu_smartphone {
    display:inherit;
    }
    
    /* logo and icon */
    #menu_bar {
        background:#ffffff;
        max-height:100px;
        width: 100%;
    }
    img.logo {
        padding-left:0;
        max-width:80%;
        max-height:100%;
    }
    
    #menu-scroll img{
        width: 12%;
        float:right;
        margin-right:5%; 
        margin-top:3%; 
        max-height:50px;
        max-width:80px;
    }
    
    #content nav{
        display:none;
    }
    
    /*nav*/
    #menu_smartphone nav ul{ 
        z-index: 9;
        margin:0;
        padding:0;
    }
    #menu_smartphone nav ul li{
        display:inline;
        margin-top:0;
        margin-bottom:0;
        text-align:center;
        z-index: 1;
    } 
    
    #menu_smartphone nav ul li a{
        line-height:100px;
        margin:0;
        width: 100%;
        height: 100px; 
        background:#ffffff;
        padding:0;
    } 
    
    #menu_smartphone nav ul li a:hover{
        line-height:100px;
        margin:0;
        width: 100%;
        height: 100px; 
        background:#333333;
        color:#ffffff;
        padding:0;
    } 
    
    .smartphones-links{        
        position: relative;
        z-index: 10; 
    }    
    .curseurs{
       display: none;
    }
    nav{
    height:0px;   
    }

}
