/*---------------------------------Top menu---------------------------------*/
nav{
    height:55px;
    line-height: 40px;
    background-color:#ffffff;    
}

/*Top menu links*/
nav ul li{
    width:100%;
    text-align: center;
}
/* links styling*/
nav ul li a{
    text-decoration:none;
    font-size: 1.4em;
    text-transform :uppercase;
    color:#333333;
    line-height:45px;
    height:50px;
    display:block;
    padding-top:5px;
}

nav a img{
    padding-top:5px;
}

/*top menu links interaction*/
nav ul li a:hover{
    text-decoration: none;
    color:#333333;
    background-image:url(../img/menu.png);
    background-repeat:no-repeat;
    background-position:bottom center;
}
/* Display of the active page */
#active{
    background-image:url(../img/menu.png);
    background-repeat:no-repeat;
    background-position:bottom center;
}
