/*---------------------------------Top menu---------------------------------*/
nav{
    height:50px;
    padding-top:10px;
    background-color:#ffffff;    
}
nav ul {    
    
}
/*Top menu links*/
nav ul li{
    display:inline;
    margin-left:5px;

}
/* links styling*/
nav ul li a{
    text-decoration:none;
    font-size: 1.4em;
    text-transform :uppercase;
    color:#333333;
    line-height:40px;
}

/*top menu links interaction*/
nav ul li a:hover{
    text-decoration: none;
    color:#ff2b06;
}

/*menu logo alignment*/
#header_tedx_logo{
}
