/*---------------------------------Top menu---------------------------------*/
nav{
    height:60px;
    padding-top:10px;
    margin-bottom:60px;
    background-color:#ffffff;
vertical-align:middle;    
}
nav ul {    

}
/*Top menu links*/
nav ul li{
    display:inline;
}
/* links styling*/
nav ul li a{
    text-decoration:none;
    font-size: 14px;
    text-transform :uppercase;
    color:#222222;

}

/*top menu links interaction*/
nav ul li a:hover{
    text-decoration: none;
    color:#ff2b06;
}

/*menu logo alignment*/
#header_tedx_logo{
}
