/*------------------@media smartphone-----------------*/

@media screen and (min-width: 770px) {
    .container {   
        max-width: 728px;
    }
    
    body #tuile h3.twoLines {
    padding-top: 45px;
    padding-top: 45px;
    }
}
@media screen and (max-width: 770px) {
    body {
        font-size: 20px;
    }
    #nextevent{
        padding-left:5%;
    }
    #nextevent img{
        width:95%;
    }
    #videos_title{
        padding-left:5%;
    }
    footer form {    
    text-align:center;   
    }
    #socialnet .span1{
        display:inline;
    }
    #videos .span2{
    display:inline;
    }
    #tuile h3{
    background-color:#f0f0f0;
    min-width:200px;
    text-align:center;
    height: 100px;
    margin-top:5px;
    margin-bottom: 5px;
    color:#333333;
    padding:35px 5px 0 5px;
    margin-right:10px;
    }
    #tuile h3.twoLines {
    padding-top: 20px;
    }
}