/*------------------@media smartphone and tablet-----------------*/

@media screen and (max-width: 850px) {
    body {
        font-size: 20px;
    }
    nav ul li a{
        display:none;
    }
    section .span8, section .span6, section .span2 {
    background-color: #F0F0F0;
    margin-top: 0;
    padding: 0px;
    }   
    /*-----------------------homepage-----------------------------------*/
    #nextevent{        
        max-width:95%;
        padding-left:5%;
        margin-top:5%;
    }
    #nextevent img{
        width:95%;
    }
    #socialnet li .span1{
        width:80%;
    }
    #videos_title{
        padding-left:5%;
    }
    #socialnet .span1{
        display:inline;
    }
    #socialnet ul li img{
        width:20%;
        height:20%;
        margin-left:1.45%;
        margin-right:1.45%;
    }
    #videos img{
        display:inline;
        margin-left:5%;
        width:90%;
        
    }
    #videos .span2{
       margin-left:5%;
        width:95%;
    }
    /*-------------------userbar-----------------------------------*/
    footer form {    
    text-align:center;   
    }
    /*---------------------------tuiles---------------------------------*/
    .tuile h3{
    background-color:#f0f0f0;
    width:100%;
    text-align:center;
    height: 100px;
    margin-top:5px;
    margin-bottom: 5px;
    color:#333333;
    padding:35px 5px 0 5px;
    
    }
    .tuile h3.twoLines {
    padding-top: 35px;
    }
    a:focus, a:active, a:hover{
        outline:none;
        text-decoration:none;
    }
    /*---------------------------events-------------------------------*/
    .current_event_title{
        line-height:50px;
        padding-top:50px;
    }
    #upcomingEvents {
        margin-right:0;
        width:100%;
    }
    #oldEvents {
        width:100%;
        margin-left:0;
    }
    #event_detail{
        max-width:90%;
        margin-left:5%;
        margin-top:5%;
    }
                    /*-------table-------*/
    
    .programme_event, .desc_event{    
        margin-right: 0px;     
    }
    
    .zebra{
    background-color:#f0f0f0;
    border-top:2px solid #c9c9c9;
    }
    .table_title{
    height:50px;
    font-weight:bold;
    
    }
    td.title{
        padding-top:20px;
        padding-bottom:20px;
    }
    td.date{
        font-weight:bold;
        width:110px;
    }
    /*---------------------------team-------------------------------*/
    #team{
        margin:5%;
        max-width:90%;
        margin-top:5%;
    }
    

    /*---------------------------speakers-------------------------------*/
    #speaker_year{
        max-width:90%;
        margin-left:5%;
        margin-top:5%;
    }
}