/*---------------------------------bottom userbar---------------------------------*/
footer {
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0px;
	background-color:#FF2B06;
}
footer>p{
    display:inline;
}
/*login form alignment*/
footer form{
    padding-top:7px;
    /*padding-left:10px;*/
    text-align:right;
}
#login {
    /*margin-left:5px;*/
	text-align:center;
    width:10%;
    height:22px;
}
#logout {
	text-align:right;
    line-height:40px;
}
#form_log{
    width:40%;
    padding-left:5px;
}
#logged{
    text-decoration:none;
    /*font-size: 1.2em;*/
    text-transform :uppercase;
    color:#ffffff;    
    height:50px;
}
#logged a{
    text-decoration:none; 
    text-transform :uppercase;
    color:#ffffff;
}
#logged a:hover{
    color:#333333;
}
a#setting {
    width:30px;
    height:30px;
    background-image:url(../img/setting.png);
    background-repeat:no-repeat;
     margin-top:5px;

}

a#setting:hover{
    width:30px;
    height:30px;
    margin-top:5px;

    background-image:url(../img/setting_hover.png);
}

a#home_icon {
    width:30px;
    height:30px;
    background-image:url(../img/home.png);
    background-repeat:no-repeat;
     margin-top:5px;
}

a#home_icon:hover{
    width:30px;
    height:30px;
    margin-top:5px;
    background-image:url(../img/home_over.png);
}
#logged .message{
    text-align:center;
}