/*---------------------------------bottom userbar---------------------------------*/
footer {
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 0px;
	background-color:#FF2B06;
    line-height:40px;
}

footer form.log {
    height:40px;
}

footer form label {
    width: 15%;
}

#logged .span8{
    background-color:#FF2B06;
    margin-top: 0;
    padding: 10px;
}

footer .log input[type=text], input[type=password] {
    padding-left:5px;
    margin-right:2%;
    width: 25%;
    float:inherit;
}

footer input[type=submit]#login {
    width:30px;
    height:30px;
    background-color:#333333;
    text-align:center;
    padding:0;
    line-height:30px;
    margin:5px 0;
    display: inline;
    float:right;
}

footer #logout {
	text-align:right;
    line-height:40px;
}

footer #logged{
    text-decoration:none;
    /*font-size: 1.2em;*/
    text-transform :uppercase;
    color:#ffffff;    
    height:50px;
}
footer #logged #logout{
    background-image:url(../img/logout.png);
    background-repeat:no-repeat;
    float: right;
    line-height:0px;
    margin-top:5px;
    height:30px;
    width:28px;
}

footer #logged #logout:hover{
    background-image:url(../img/logout_hover.png);
    background-repeat:no-repeat;
    height:30px;
    width:28px;
}

a#setting {
    width:30px;
    height:30px;
    background-image:url(../img/setting.png);
    background-repeat:no-repeat;
    margin-top:5px;
    margin-left:5%;
}

a#setting:hover{
    width:30px;
    height:30px;
    margin-top:5px;
    background-image:url(../img/setting_hover.png);
}

a#home_icon {
    width:30px;
    height:30px;
    background-image:url(../img/home.png);
    background-repeat:no-repeat;
     margin-top:5px;
}

a#home_icon:hover{
    width:30px;
    height:30px;
    margin-top:5px;
    background-image:url(../img/home_over.png);
}
#logged .message{
    text-align:center;
}
#logged a{
color:#ffffff;
font-size:1.2em;
}
#logged a:hover{
color:#333333;
text-decoration:none;
}

#login_smartphone {
display:none;
}