/*AFFICHAGE <800 PIXELS*/
@media screen and (max-width: 800px){
    #bouton-menu{
         display: block;
    }
    nav {max-width: 800px;margin-top: 100px;}
    
    nav ul{ 
        z-index: 9;
    }
    
    nav ul li{
        display:inline;z-index: 1;
    }   
    .smartphones-links{        
        position: relative;
        z-index: 10;        
    }    
    #bouton-menu a{
         display: block;
         position: relative;
         z-index: 99;         
    }    
    .curseurs{
         display: none;
    }
}
/* FIN AFFICHAGE <800 PIXELS*/

a img{border: none;}  /*On retire les bordures autour des liens-images pour IE*/

